body {
    background-color: aliceblue;
}
.photo {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.signature h1{
font-family: "algerian";
color: black;
font-weight: bold;
text-align: center;
}